body {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    min-height: 18vh;
    background-color: #000000;
}

.left-footer {
    width: 30%;
    margin-left: 2%;
    margin-top:10px ;
    float: left;
}

.left-footer p {
    margin: 3% 0 0 2%;
    color: #FAFAFA;
    font-size: 2vh;
}

.mid-footer {
    width: 30%;
    height: 100%;
    float: left;
}

.mid-footer p {
    color: #FAFAFA;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vh;
    margin: 5% 0 10px 0;
}

.mid-footer p a {
    color: #FAFAFA;
    line-height: 5vh;
    margin-right: 10px;
    
}

.right-footer {
    width: 30%;
    height: 100%;
    margin-right: 3vw;
    float: right;
}

.right-footer p {
    margin: 7% 2%;
    color: #FAFAFA;
    font-size: 2vh;
    text-align: right;
}



@media only screen and (max-width: 640px){
    .left-footer {
        margin: 0;
        text-align: center;
        width: 100%;

    }

    .mid-footer {
        float: left;
        width: 100%;
        height: auto;
    }


    .right-footer {
        width: 100%;
        float: left;
        margin: 0;
        text-align: center;

    }

    .right-footer p {
        margin: 0 0 2% 0;
        text-align: center;
    }
    
    .mid-footer p {
        color: #FAFAFA;
        text-align: center;
        text-transform: uppercase;
        font-size: 3vh;
        margin: 3% 0 0 0;
    }

    footer {

        min-height: 30vh;
    }


}