body
{
  margin: 0;
  padding: 0;
}
section {
    width: 100%;
    height:92vh;
}

section img
{	
	width: 100%;

	height: 100%;
}

.home-text
{
	position: absolute;
	top: 42%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	font-size: 100%;
	font: italic small-caps bold 15px Georgia, serif;
	
}
.home-eat
{
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	cursor: pointer;
	background: none;
	color: white;
	font-size: 400%;
	text-decoration:none;
	font: italic small-caps bold 70px Georgia, serif;
}	 
#home-eat
{
  left: 40%;
}
#home-drink
{
  left: 58%;
}

div a:hover
{
	color: black;	
}

 div a::before
{
    /* inserting different content before div a tag*/
	content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    bottom:0 ;
    width: 0%;
    transition: all ease-in-out 250ms;
}
div a:hover::before
{
	width: 100%;
}