{% extends 'supervisor/base3.html' %}
    {% block content %}
        <div class="container bg-light col-lg-7 mt-3 col-md-12 col-sm-13 rounded-lg p-0">
            <h2 class="text-center p-2">Orders</h2>

            <form method="POST" action="status">
                {% csrf_token %}
                <div class="row p-3">
                    <div class="col">
                        <input type="submit" name="status" class="form-control btn btn-warning" id="inProcess" value="In Process">
                    </div>
                    <div class="col">
                        <input type="submit" name="status" class="form-control btn btn-success" id="delivered" value="Delivered">
                    </div>
                    <div class="col">
                        <input type="submit" name="status" class="form-control btn btn-danger" id="cancelled" value="Cancelled">
                    </div>
                    <div class="col">
                        <input type="submit" name="status" class="form-control btn btn-primary" id="processed" value="Processed">
                    </div>
                </div>
            </form>


            <div class="col-md-auto p-0 table-hover">
                <table class="table text-center"  style="width:100%;">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Orders From</th>
                            <th scope="col">Items Ordered</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Updated Quantity</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Change Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for orders in myOrders %}
                            <tr>
                                <td>{{orders.order_number}}</td>
                                <td>{{orders.user}}</td>
                                <td>{{orders.item}}</td>
                                <td>{{orders.quantity}}</td>
                                <td>{{orders.updated_quantity}}</td>
                                <td>{{orders.order_status}}</td>
                                <td>{{orders.date_ordered}}</td>
                                <td>
                                    <form action="/supervisor/change">
                                        <div class="form-group">
                                            <input hidden type="text" name="order_id" value={{orders.id}}>
                                            <select class="custom-select mb-2" name="status">
                                                <option value="In_Process">In Process</option>
                                                <option value="Delivered">Delivered</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <option value="Processed">Processed</option>
                                            </select>
                                            <button type="submit" class="btn btn-primary w-100">Change</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>


        </div>

    {% endblock content %}

