{% extends "customer/base2.html" %}


    {% block content %}
        <div class="container bg-light col-lg-6 mt-5 col-md-10 rounded-lg">
            <div class="col-md-auto p-3 table-hover ">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">My Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">price(per item)</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>


                    <tfoot>
                            <tr>
                                <th colspan="4" style="text-align: right;">VAT(13%)</th>
                                <td>Rs.{{VAT}}</td>
                            </tr>
                            <tr>
                                <th colspan="4" style="text-align: right;">Service charge (10%)</th>
                                <td>Rs.{{SC}}</td>
                            </tr>
                            <tr>
                                <th colspan="4" style="text-align: right;">Amount to pay</th>
                                <td>Rs.{{Amt}}</td>
                            </tr>
                            <tr>
                                <th colspan="5" style="text-align: right;">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-success" type="submit">Pay amount</button>
                                    </form>
                                </th>
                            </tr>
                    </tfoot>
                    <tbody>
                        {% for order in orders %}

                                <tr>
                                    <th></th>
                                    <td>{{order.item}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.price}}</td>
                                    <td>{{order.total}}</td>
                                </tr>



                        {% endfor %}
                        
                    </tbody>
                </table>

            </div>

            
        </div>

        <div class="container bg-light col-lg-6 mt-5 col-md-10 rounded-lg">
            <div class="col-md-auto p-3 font-weight-bold">
                <h4 >How was your food?</h4>
            </div>

        </div> 

        <div class="container bg-light col-lg-6 mt-5 mb-5 col-md-10 rounded-lg">
            <div class="col-md-auto p-3 col-">
                <h4>How was your expericence?</h4>    
            </div>
        </div>

    {% endblock content %}

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->

