
{% extends "customer/base2.html" %}
{% load static %}

    {% block content %}

        <div class="container bg-light col-lg-6 mt-3 col-md-10 rounded-lg">
            <div class="col-md-auto p-3 table-hover ">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">My Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">price(per item)</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>


                    <tfoot>
                            <tr>
                                <th colspan="4" style="text-align: right;">VAT(13%)</th>
                                <td>Rs.{{VAT}}</td>
                            </tr>
                            <tr>
                                <th colspan="4" style="text-align: right;">Service charge (10%)</th>
                                <td>Rs.{{SC}}</td>
                            </tr>
                            <tr>
                                <th colspan="4" style="text-align: right;">Amount to pay</th>
                                <td>Rs.{{Amt}}</td>
                            </tr>
                            <tr>
                                <th colspan="5" style="text-align: right;">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-success" type="submit">Pay amount</button>
                                    </form>
                                </th>
                            </tr>
                    </tfoot>
                    <tbody>
                        {% for order in orders %}

                                <tr>
                                    <th></th>
                                    <td>{{order.item}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.price}}</td>
                                    <td>{{order.total}}</td>
                                </tr>



                        {% endfor %}
                        
                    </tbody>
                </table>

            </div>

            
        </div>

        <div class="container bg-light col-xl-6 mt-3  col-md-8">
            <div class="col-md-auto p-5 font-weight-bold">
                <div class="seperate">
                    <h4 class="heading">How was your food?</h4>
                    <div class="star">
                        <div class="thank">
                            <div class="text"> Thank you for rating Food &#128512</div>
                            <div class="return">Edit</div>
                        </div>
                        <div class="widgit">
                            <input type="radio" name="rate" >
                            <label onmouseover="starmark(this)" onclick="starmark(this)" id="5rate" class="fas fa-star"></label>

                            <input type="radio" name="rate">
                            <label onmouseover="starmark(this)" onclick="starmark(this)" id="4rate" class="fas fa-star"></label>

                            <input type="radio" name="rate">
                            <label onmouseover="starmark(this)" onclick="starmark(this)" id="3rate" class="fas fa-star"></label>

                            <input type="radio" name="rate">
                            <label onmouseover="starmark(this)" onclick="starmark(this)" id="2rate" class="fas fa-star"></label>

                            <input type="radio" name="rate" >
                            <label onmouseover="starmark(this)" onclick="starmark(this)" id="1rate" class="fas fa-star"></label>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container bg-light col-xl-6 mt-3 mb-4 col-md-8">
            <div class="col-md-auto p-5 font-weight-bold">
                <div class="place1">
                    <h4 class="heading1">How was your expericence?</h4>
                    <div class="box">
                        <div class="content">
                            <div class="word"> Please Visit Again &#128512</div>
                            <div class="exit">Edit</div>
                        </div>
                        <div class="widgit1">
                            <input type="radio" name="rate" id="exp1">
                            <label  id="5exp" class="fas fa-star"></label>

                            <input type="radio" name="rate" id="exp2">
                            <label  id="4exp" class="fas fa-star"></label>

                            <input type="radio" name="rate" id="exp3">
                            <label  id="3exp" class="fas fa-star"></label>

                            <input type="radio" name="rate" id="exp4">
                            <label  id="2exp" class="fas fa-star"></label>

                            <input type="radio" name="rate" id="exp5">
                            <label  id="1exp" class="fas fa-star"></label>

                        </div>
                   </div>
                </div>

            </div>
        </div>

    {% endblock content %}


