<div class="container-fluid text-center text-uppercase h4 mt-2">
    <div class="container-fluid my-3">
        <p class="lead text-center text-dark" style="font-family:sans-serif;">The mission is simple:serve delicious, affordable food that<br>  guests will want to return to week after week.<br></p>
    </div>
    <span><a href="/customer" class="text-decoration-none col-lg-4" style="color: #000;">Food</a></span>
    <span><a href="/customer/drink" class="text-decoration-none col-lg-4" style="color: #000;">Drink</a></span>
    <span><a href="/customer/dessert" class="text-decoration-none col-lg-4" style="color: #000;">Dessert</a></span>
</div>