{% extends "customer/base2.html" %}

{% block content %}
    {% include "customer/category.html" %}
         <div class="container mt-4 p-0">
             <div class="accordion" id="accordionExample">
                 {% for category in drink %}
                    <div class="card">
                        <div class="card-header" id="{{category.heading_id}}">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#{{category.collapse_id}}" aria-expanded="false" aria-controls="{{category.collapse_id}}">
                                    {{category.name}}
                                </button>
                            </h2>
                        </div>
                        <div id="{{category.collapse_id}}" class="collapse" aria-labelledby="{{category.heading_id}}" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">
                                    {% for items in category.item %}

                                        <div class="col-sm col-lg-4 col-md-6">

                                            <div class="card mb-4 border-0" style="width: 18rem;">
                                                <div class="card-body text-center h-100">
                                                    <h3 class="card-title">{{items.item_name}}</h3>
                                                    <p class="card-text mb-2 lead">{{items.description}}</p>
                                                    <p class="card-text mb-2">Price: Rs. {{items.price}}</p>
                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        <div class="form-group row text-center">
                                                            <label for="quantity" class="col-sm-5 col-form-label ml-5 pr-2" style="color: #AE7474;">Quantity:</label>

                                                            <input type="number" class="form-control col-sm-2 p-0 ml-1 pl-1" id="quantity" name="quantity" value="1">

                                                        </div>
                                                        <input hidden type="text" name="item" value="{{items.id}}">
                                                        <button type="submit" class="btn btn-primary mb-2">Add to list</button>

                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                 {% endfor %}
            </div>
        </div>

{% endblock content %}






