{% extends "customer/base2.html" %}


    {% block content %}
        <div class="container bg-light col-lg-6 mt-5 col-md-10 rounded-lg">
            <div class="col-md-auto p-3 table-hover">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">My Orders</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price(per item)</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>
                                <form method="POST">
                                    {% csrf_token %}

                                    <button class="btn btn-success" type="submit">Confirm Order</button>
                                </form>
                            </th>
                        </tr>

                    </tfoot>


                    <tbody>
                        {% if my_orders %}
                            {% for orders in my_orders %}
                                {% for name, price_quantity in orders.items %}
                                    <tr>
                                        <th>{{forloop.counter}}</th>
                                        <td>{{name}}</td>
                                        {% for key in price_quantity %}
                                            <td>{{key.quantity}}</td>
                                            <td>{{key.price}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>


        </div>

    {% endblock content %}

