{% extends 'main/base.html' %}
{% load static %}

	{% block content %}
        <div>
            <img src="{% static 'main/Images/aboutchef.jpg' %}" class="d-none d-md-block img-fluid" alt="chef" style="width: 100%">
        </div>
		
        <div class="container-fluid my-4">
            <em>
                <p class="lead text-center" style="font-family:verdana; color:brown;">The mission is simple:serve delicious, affordable food that<br>  guests will want to return to week after week.<br></p>
            </em>
        </div>
		
        <div class="container">
            <div class="row text-uppercase text-center">
                <div class="col-sm-6 p-md-0">
                    <img src="{% static 'main/Images/head_chef.jpg' %}" class="img-thumbnail" alt="chef" style="border-radius: 50px; border: none;">
                </div>
				
                <div class="col-sm-6">
                    <h3>Quote from our Head Chef</h3>
                        <p class="mt-4 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        </p>
                </div>
				
                <div class="w-100 m-5"></div>
                    <div class="col-sm-6">
                        <h3>Bigger Burger: Better than ever</h3>
                        <p class="mt-4 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        </p>
                    </div>
					
                <div class="col-sm-6 p-md-0">
                    <img src="{% static 'main/Images/food.jpg' %}" class="img-thumbnail" alt="chef" style="border-radius: 50px; border: none;">
                </div>
                <div class="mx-auto my-4 col-sm-12 col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for data in photo %}

                                {% if forloop.counter == 1 %}
                                    <div class="carousel-item active">
                                {% else %}
                                    <div class="carousel-item">
                                {% endif %}

                                        <img class="d-none d-md-block w-100" src="{{data.photo.url}}" alt="{{data.photo}}" style="border-radius:5% 5% 0 0 ;">
                                        <div class="d-md-block bg-dark text-white">
                                            <h5>{{data.experience_title}}</h5>
                                            <p class="m-0">{{data.experience_description}}</p>
                                            <p class="m-0"><cite title="Source Title">-{{data.shared_by}}</cite></p>
                                        </div>
                                    </div>

                            {% endfor %}

				        </div>
				        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					        <span class="sr-only">Previous</span>
				        </a>
				        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					        <span class="carousel-control-next-icon" aria-hidden="true"></span>
					        <span class="sr-only">Next</span>
				        </a>
                    </div>
			    </div>
				
            </div>
        </div>

        {% include 'main/footer.html' %}
	{% endblock content %}

    

