
{% extends "main/base.html" %}
    {% block content %}

    <div class="container px-lg-5 my-2">
        <h4 class="text-left">Required Seats: {{data.seats}}</h4>
        <h4 class="text-left">Booking For: {{data.date}}</h4>
        <div class="row mx-lg-n5" id="table">
            <div class="col py-3 px-lg-5 border bg-light"  style="height: 80vh; overflow-y: scroll;">
                <h4 class="text-primary text-center">Available Tables</h4>
                <table class="table table-hover table-responsive-md" style="width: 100%;">               
                    <thead>          
                        <tr>           
                            <th scope="col" style="width: 30%;">Table</th>
                            <th scope="col"  style="width: 30%;">Seat Avaliable </th>                
                            <th scope="col"  style="width: 30%;">Booking</th>
                     
                        </tr>        
                    </thead>        
                    <tbody>
                        {% for table in tables %}
                        <tr>               
                            <th scope="row">{{table.table_name}}</th>
                            <td >{{table.capacity}}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="button" onclick="display_btn('btn{{forloop.counter}}', 'show{{forloop.counter}}')" id="btn{{forloop.counter}}" class="btn btn-primary btnBook" value="btn{{forloop.counter}}">Book</button>
                                    <div class="show-buttons" id="show{{forloop.counter}}" onclick="hide_btn('show{{forloop.counter}}', 'btn{{forloop.counter}}')">
                                        <input hidden type="text" name="table_name" value="{{table.table_name}}">
                                        <button type="submit" class="btn btn-primary">&#10004</button>
                                        <button onclick="popAlert()" type="button" class="btn btn-primary">&#10006</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                            <tr >
                                <td colspan="3" class="text-danger text-center">
                                    Sorry no tables are available that match the details you entered.
                                Try reducing number of seats or maybe book for another date.
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <small>
                    <em>Please be punctual. Being late even for 5 minutes will automatically remove your reservation</em>
                </small>
            </div>

        </div>
    </div>
    {% include "main/footer.html" %}
    {% endblock content %}

