{% load static %}

    <footer>
        <div class="left-footer">
            <p>
                Contacts: <br>
                1234567890/ 2345678901 <br>
                restro&#64;gmail.com
            </p>
        </div>
        <div class="mid-footer">
            <p>
                Nextstep Restro<br>
                <a href="https://www.facebook.com/" target="_blank" class="social-media"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="social-media"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
        <div class="right-footer">
            <p>
                Opening Hours <br>
                07:00 A.M. to 09:00 P.M.
            </p>
        </div>
    </footer>