/*  */

.seperate
{
    width: 100%;
    margin-bottom: 20px;
}

.heading
{
    width: 50%;
    float: left;
}

.star
{
    float: left;
    width: 50%;

}

input[type='radio']
{
    display: none;
}


.star label
{
    color: gray;
    font-size: 30px;
    transition: all 0.2s ease;
    float: right;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover~label
{
    color:#FF9529;
}

input:checked~label
{
    color:#FF9529;
}

.star .text
{
    font-size: 20px;
    color: green;
}

.star .return
{
    cursor: pointer;
    top: 5px;
    position: absolute;
    right: 10px;
    color: gray;
    font-size: 14px;
}

.star .thank
{
    display: none;
}

.widgit
{
    width: 90%;
}

.content
{
    display: none;
}

.place1
{
    width: 100%;
    margin-bottom: 20px;
}



.heading1
{
    width: 50%;
    float: left;
}


.box label
{
    color: gray;
    font-size: 30px;
    transition: all 0.2s ease;
    float: right;
}

.box
{
    float: left;
    width: 50%;
}



.box .word
{
    font-size: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.exit
{
    cursor: pointer;
    top: 5px;
    position: absolute;
    right: 10px;
    color: gray;
    font-size: 14px;
}